@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 
font-family: 'Anybody', cursive;
font-family: 'Grandstander', cursive;
*/

:root {
    --almond: #EBD7C1;
    --laurel-green: #A3B18A;
    --fern-green: #588157;
    --hunter-green: #3A5A40;
    --earth-yellow: #DDA15E;
    --earth-brown: #664A2B;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--laurel-green);
    display: flex;
    flex-direction: column;
}

/* Navigation Bar */
.navBar {
    background-color: var(--hunter-green);
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.logoSection a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.logo {
    height: 80px;
    width: auto;
}

.companyName {
    color: var(--laurel-green);
    font-family: 'Grandstander', cursive;
}

.navLinkSection {
    display: flex;
    list-style: none;
}

.navLink {
    margin: 20px;
}

.navLink a {
    text-decoration: none;
    color: var(--laurel-green);
    font-family: 'Grandstander', cursive;
    font-size: 20px;
    font-weight: 500;
    transition: 200ms;
}

#active {
    color: var(--almond);
}

.navLink a:hover {
    color: var(--almond);
}