.container {
    background-color: var(--fern-green);
    border: none;
    border-radius: 15px;
}

.textBox {
    display: flex;
    flex-direction: column;
}

.name {
    color: white;
    text-align: left;
    font-family: 'Grandstander', cursive;
    margin-bottom: 20px;
    font-size: 23px;
}

.tags {
    color: var(--almond);
    text-align: left;
    font-size: 16px;
}