.container {
    background-color: var(--fern-green);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    margin-bottom: 50px;
}

.beginBox{
    background-color: var(--hunter-green);
    border-radius: 10px; 
    padding: 20px;
}

.beginBox h1 {
    color: white; 
    font-family: 'Grandstander', cursive;
    font-size: 22px; 
    text-align:center;
}

.beginBox p{
    color: white;
    font-family: 'Anybody', cursive;
    font-size: 20px; 
    text-align: center; 
}

.btn {
    background-color: var(--kobicha);
    padding: 20px;
    font-family: 'Grandstander', cursive;
    font-size: 23px;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 6px;
    margin-top: 20px;
    width: 200px;
    transition: 200ms;
}

.btn:hover {
    background-color: var(--earth-yellow);
    cursor: pointer;
}
