.accordion {
    display: flex;
    justify-content: space-between;
    width: 300px;
    background-color: var(--laurel-green);
    padding: 40px;
    margin: 20px;
    border-radius: 15px;
    color: var(--kobicha);
    font-family: 'Grandstander', cursive;
    font-weight: 700;
    font-size: 30px;
}

.dropBtn {
    margin-right: 40px;
}

.dropDown {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 20px;
    margin: 4%;
    width: 300px;
    background-color: var(--fern-green);
}

.button button {
    background: none;
    border: none;
    margin-bottom: 10px;
    margin-top: 15px;
    transition: 200ms;
}

.button button:hover {
    cursor: pointer;
    transform: scale(1.2);
}