.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--laurel-green);
}

.logoSection {
    height: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
}