.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--laurel-green);
}

.logoSection {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sprout{
    margin-top: 0;
}