.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--laurel-green);
}

.logoSection {
    height: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sprout {
    animation: floating 2s infinite linear; 
}

@keyframes floating {
    30% {
        transform: translateY(15px);
    }
}