.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--laurel-green);
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1%;
}

.h2{
    font-family: Grandstander;
    font-size: 45px;
    margin-bottom: 0px;
    color: var(--hunter-green);
}

.h3{
    font-family: Grandstander;
    font-size: 25.5px;
    color: var(--kobicha);
    margin-top: 50px;
}

.p{
    font-family: Anybody;
    font-size: 20px;
    color: var(--kobicha);
    margin: 1px 10px 35px 10px;
    text-align: left;
    width: 350px;
}

.btn {
    background-color: var(--kobicha);
    padding: 20px;
    font-family: 'Grandstander', cursive;
    font-size: 23px;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 6px;
    margin-top: 20px;
    width: 200px;
    transition: 200ms;
}

.btn:hover {
    background-color: var(--earth-yellow);
    cursor: pointer;
}